.App {
  text-align: center;
  font-family: 'Old Standard TT', serif;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.jumbotron {
  background-color:rgba(243, 241, 241, 0.7);
  color: #1d1e24;
}

h1 {
  font-weight: bolder;
}

.jumbotron {
  margin-top: 50px;
}