.navbar-brand, .navbar-text{
    color: #F3F1F1 !important;
    font-size: 17px;
}

.navbar-brand{
    font-weight: bold;
}


#navBar {
    background-image: none;
    background-color: #737861 !important;
    border: #737861;
    padding: 1px;

}

#gamePage {
    background-image: url("../images/wood_1.png");
    /* background-color: #737861; */
    height: 1000px;    
    font-family: 'Old Standard TT', serif;

}

#welcomeJumbo {
    margin-top: 30px;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

iframe {
    width: 100%;
}

#gameJumbo {
    margin-top: 10px;
}

#trigger {
    margin-top: 150px;
    position: absolute;
}

#playerJumbo {
    background: rgba(243, 241, 241, 0.3);
}

#boardJumbo {
    background: url("../images/board.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}

#large {
    position: absolute;
    top: 80px;
    left: 50px;
}

#large2 {
    position: absolute;
    top: 80px;
    left: 310px;
}

#small {
    position: absolute;
    top: 140px;
    left: 180px;
}

#medium {
    position: absolute;
    top: 210px;
    left: 180px;
}

#medium2 {
    position: absolute;
    top: 280px;
    left: 180px;
}