.navbar-brand, .navbar-text{
    color: #F3F1F1 !important;
    font-size: 17px;
}

.navbar-brand{
    font-weight: bold;
}


#navBar {
    background-image: none;
    background-color: #737861 !important;
    border: #737861;
    padding: 1px;

}

#gamePage {
    background-image: url("../images/wood_1.png");
    /* background-color: #737861; */
    height: 1000px;    
    font-family: 'Old Standard TT', serif;

}

#welcomeJumbo {
    margin-top: 30px;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

iframe {
    width: 100%;
}

#gameJumbo {
    margin-top: 10px;
}

#trigger {
    background-color: #737861 !important;
    margin-top: 100px;
}